// Redéfinir les variables ici

@import '../../node_modules/bulma/bulma.sass';

/* Colors :
    blanc : #ffffff
    bleu : #2e3192
    vert : #00a99d
    orange : #d35e0f
    gris : #ededef
*/


/* Main HTML Tags */
html{
  height: 100vh;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font: 100%/1.2 "josefin_sansregular", Helvetica, Arial, sans-serif;
}

main {
  height: 100%;
  width: 100%;
  background-color: #D1E2E8;
}


 /* CONNEXION */
.connexion{
  background-color: #dbdbdb;
  height: 100%;
  width: 100%;
}
   /* LOGOS */
   .Logos{
    padding-top: 2rem;
  }
    .logoJaya{
      display: block;
      height: 9.2rem;
      margin: 0 auto 2rem;
    }
      .logoJaya2{
        display: block;
        margin: 1.4rem auto 1.6rem;
        height: 3.6rem;
      }

  /* CONNECTION FORM */
  .jayaForm{
    padding: 0 3rem;
  }
    .jayaForm input{
      border: none;
      border-radius: 0;
      box-shadow: none;
      font-size: 1.2rem;
      height: 3.5rem;
      font-family: "josefin_sansbold";
    }
      .jayaForm .control.has-icons-left .icon,
      .jayaForm .control.has-icons-right .icon{
        height: 100%;
      }
        .jayaForm .control.has-icons-left .icon > img,
        .jayaForm .control.has-icons-right .icon > img{
            height: 1.7rem;
          }
            .jayaForm input[type="submit"]{
              border: none;
              display: block;
              margin: 0 auto;
              background-color: #CA5212;
              color: white !important;
              border-radius: 0;
              height: auto;
              font: 1.4rem "josefin_sansregular";
              padding: 0.7rem 1.2rem;
            }
              .jayaForm input[type="submit"]:hover{
                opacity: 0.8;
              }
                .signInLinks{
                  text-align: center;
                  padding: 1.3rem 0;
                }
                  .signInLinks a{
                    display: block;
                    text-decoration: underline;
                    font-size: 1rem;
                    margin-bottom: 0.7rem;
                  }
                  .columns:not(:last-child){
                    margin-bottom: 0;
                  }
                    .coIdentif .field:not(:last-child) {
                      margin-bottom: 0;
                      padding-bottom: 0;
                    }
                      .dropdown .icon{
                        position: absolute;
                        right: 1rem;
                      }
                        .coDropdown{
                          margin-bottom: 0.7rem;
                        }

                        .field .dropdown button{
                          border: none;
                          border-radius: 0;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          height: 3.5rem;
                          display: block;
                          padding-left: 0.6rem;
                          color: #c2c2c2;
                          font-family: "josefin_sansregular";
                          text-align: left;
                          width:100%;
                          display: block;
                        }
                         .field .dropdown button > span{
                          font-size: 1rem;
                         }
                          .field .dropdown{
                            width: 100%;
                            display: block;
                          }
                            .errorMsg{
                              display: none;
                            }
                              .errorMsg.error{
                                display: block;
                                color: red;
                                padding: 0.4rem 0 0 0.2rem;
                              }

/* PAGE STRUCTURE */
div.sideBar {
  position: fixed;
  top: 0;
  width: 250px;
  background-color: #D9D9D9;
  color: white;
  height: 100vh;
  left: -200px;
  transition: all 0.6s;
}

  // SideBar ouverte sur mobile
  div.adminColors div.sideBar.open{
    background-color: #28498F;
  }

  div.sideBar.open{
    left: 0px;
    background-color: #00a99d;
    border-right: 1px solid lightgray;
    z-index: 20;
  }
  div.sideBar > *:not(.burgerBtn){
    opacity : 0;
    transition: opacity 0.5s;
    max-width: 87%;
    }
    
    div.sideBar > a {
      color: white;
      margin: 1rem 0 0 1rem;
      display: inline-block;
      font-size: 1.1rem;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      position: relative;
      overflow: hidden;
    }
      div.sideBar > a:before{
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          bottom: 0;
          background: white;
          height: 2px;
          transform: translateY(4px);
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
      }
       div.sideBar > a:hover:before,
       div.sideBar > a:focus:before,
       div.sideBar > a:active:before {
          transform: translateY(0);
      }
        div.sideBar.open > *:not(.burgerBtn){
          opacity: 1;
        }
          .burgerBtn {
            background-color: initial;
            border: none;
            height: 2.4rem;
            margin: 0.9rem 0.2rem;
            float: right;
            width: 3rem;
            transition: all 1s;
            display: block;
            outline: none;
            cursor: pointer;
          }
            .burgerBtn:hover{
              opacity: 0.9;
            }
             div.sideBar.open .burgerBtn path{
               fill: white;
             }
                .burgerBtn path{
                  fill: #00a99d;
                }
                .burgerBtn.admin path{
                  fill: #28498F;
                }
                  p.menuName{
                    text-decoration: underline;
                    display: block;
                    font-size: 1.1rem;
                    margin: 6rem 0 0 1rem;
                  }

  // Logo Home student
  .desktopSidebarLogo{
    display: none;
    height: 2.9rem;
    margin: 0 auto;
    margin-top: 1.2rem;
  }

    // DropDown For Account
    .dropdownAccount > button > svg{
      display: inline-block;
      height: 1.4rem;
      vertical-align: text-bottom;
    }
      .dropdownAccount > button > span {
        display: inline-block;
        height: 1.6rem;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
      }
      .dropdownAccount > button > span:before{
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          bottom: 0;
          background: white;
          height: 2px;
          transform: translateY(4px);
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
      }
      .dropdownAccount > button > span:hover:before,
      .dropdownAccount > button > span:focus:before,
      .dropdownAccount > button > span:active:before {
          transform: translateY(0);
      }
        .dropdownAccount a.changePwd {
          display: block;
          transform: scaleY(0);
          margin: 0rem 2rem;
          color: #e4e4e4;
          transition: transform 0.5s;
        }
        .dropdownAccount a.changePwd:hover{
          text-decoration:underline;
        }
         .dropdownAccount > button > svg:last-child{
          transition: transform 0.5s;
         }
          .dropdownAccount.open > button > svg:last-child{
            transform: rotate(180deg);
          }
            .dropdownAccount.open a.changePwd{
              transform: scaleY(1);
            }
              .dropdownAccount > button{
                margin: 0.3rem;
                font-size: 1.1rem;
                color: white;
                background-color: initial;
                border: none;
                cursor: pointer;
                outline: none;
              }

 // Deconnection Button
.decoBtn{
  font-size: 1rem;
  margin: 1rem;
  position: absolute;
  bottom: 2%;
  left: 0;
  border: none;
  background-color: initial;
  color: white;
  cursor: pointer;
}
.decoBtn:hover{
  text-decoration: underline;
}

// Home student
div.homeContainer{
  display: block;
  width: 100%;
  padding: 0.5rem 3.2rem;
  color: black;
  height: 100%;
  background-color: #D9D9D9;
  min-height: 100vh;
}
  .studentHomeLogo{
    position: absolute;
    height: 1.8rem;
    top: 1.6rem;
    right: 4%;
  }

// User Informations
section.userInfos{
  display: none;
}

// Semester Buttons
.semesterBtns{
  text-align: center;
  padding-top: 4.9rem;
}
  .semesterBtns button{
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #00a99d;
    font-size: 1.1rem;
    display: block;
    margin: 0.5rem auto;
    padding: 0.4rem 2.8rem;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 0 100%;
  }
    .semesterBtns button:not(.active){
      cursor:pointer;
      transition: background-color 0.2s;
    }
      .semesterBtns button:not(.active):hover,
      .semesterBtns button:not(.active):active,
      .semesterBtns button:not(.active):focus{
      transform: skew(-10deg);
      background-color: #f1eded;
        }
        .semesterBtns button.active{
          background-color: #00a99d;
          color: white;
        }

// Semester List
.semesterList ul{
  margin-top: 3rem;
}
  .semesterList li {
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 2px;
    width: 80%;
    margin: 2rem auto;
    max-width: 350px;
    padding: 0.8rem 0;
    text-align: center;
    color: #272525;;
  }
    .semesterList h2{
      border-bottom: 2px solid #928e8e;
      text-transform: uppercase;
      color: #00a99d;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.3rem 0.2rem;
    }
     .semesterList li div:last-child:not(.open) button{
       border: none;
     }
      .semesterList li button{
        display: block;
        width: 100%;
        font-size: 1.3rem;
        border: none;
        color: #928e8e;
        background-color: initial;
        padding: 0.2rem 0;
        border-bottom: 2px solid #928e8e;
        cursor: pointer;
        transform: perspective(1px) translateZ(0);
        position: relative;
        overflow: hidden;
        transition-property: color;
        transition-duration: 0.3s;
      }
      .semesterList li button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00a99d;
        border-radius: 2px;
        transform: scale(0);
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }
      .semesterList li button:hover,
      .semesterList li button:focus,
      .semesterList li button:active {
        color: white;
       }
       .semesterList li button:hover:before,
       .semesterList li button:focus:before,
       .semesterList li button:active:before {
        transform: scale(2);
    }
        .semesterList li p {
          text-align: center;
          padding: 0.3rem 1.1rem;
          font-size: 0.9rem;
          border-bottom: 2px solid #928e8e;
          line-height: 1rem;
          display: none;
        }
         .semesterList li p.open{
           display: block;
         }
          .semesterList li > div:last-child p{
            border: none;
          }

/* **** STOP PAGE ***** */
.stopContent{
  height: 100vh;
  padding-top: 3rem;
}
.stopImage{
  display: block;
  margin: 2.5rem auto;
  height: 16rem;
}
  .stopContent h2{
    font-size: 1.3rem;
    text-align: center;
    color: #00a99d;
    font-weight: bold;
  }
    .stopContent p{
      font-size: 1.1rem;
      text-align: center;
      color: #00a99d;
    }
    .actionList{
      margin-top: 4.7rem;
    }
      .actionList li {
        margin: 0 auto 1.5rem;
        text-align: center;
      }
       .actionList button{
        background-color: #28498F;
        border: none;
        padding: 1rem;
        cursor: pointer;
        text-align: center;
        width: 60vw;
        height: 190px;
        max-width: 330px;
       }
        .actionList button:hover{
          opacity: 0.8;
        }
        .actionList img {
          height: 5.1rem;
          display:block;
          margin: 0 auto;
        }
          .actionList span{
            display: block;
            color: white;
            margin: 0 0 0;
            font-size: 1rem;
            padding-top: 2.2rem;
          }

.ueListContainer,
.subjectChoosenContainer {
  padding-top: 5rem;
}
  .subjectChoosenContainer h2,
  .ueListContainer h2{
    font-size: 1.6rem;
    color: #423d3d;
    font-weight: bold;

  }
    .subjectChoosenContainer p,
    .ueListContainer p{
      font-family: 'josefin_sansthin';
      font-size: 1.4rem;
    }
      .ueListContainer strong{
        display: block;
        font-family: 'josefin_sansregular';
        font-size: 1.2rem;
      }

 .ueSelectBloc{
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  margin: 1rem auto;
  max-width: 370px;
}
  .ueSelectBloc h3{
    background-color: #d9d9d9;
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
  }
    .ueSelectBloc ol{
      margin: 1rem 0;
      clear: both;
      counter-reset: step;
    }
      .ueSelectBloc li{
        background-color: #d9d9d9;
        padding: 0.5rem 0.4rem 0.3rem;
        margin-bottom: 0.3rem;
        border-radius: 2px;
        font-size: 1rem;
        color: #4a4848;
        list-style-type: none;
        position: relative;
        cursor: grab;
      }
       .ueSelectBloc li:hover{
         opacity: 0.9;
       }
        .ueSelectBloc li::after{
          position: absolute;
          right: -0.6rem;
          top: 0.6rem;
          width: 1.5rem;
          height: 1.5rem;
          content: counter(step);
          counter-increment: step;
          font-size: 1rem;
          color: gray;
          font-family: 'josefin_sansthin';
        }
        .ueSelectBloc i{
          margin-right: 0.5rem;
        }

 .changePassword{
    background-color: white;
    border-radius: 10px;
    margin: 5.5rem auto 0;
    padding: 1.5rem 1.2rem;
    max-width: 380px;
 }
  .changePassword h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.1rem;
    color: #02a99c;
    font-weight: bold;
  }
    .changePassword input[type='password']{
      background-color: #eff3f7;
      border: none;
      box-shadow: none;
      font-size: 1.1rem;
      color: #423e3e;
      font-family: 'josefin_sanssemibold';
      margin-bottom: 0.6rem;
    }
      .changePassword input[type='submit']{
        background-color: #02a99b;
        color: white;
        border: none;
        padding: 0.5rem 1.2rem;
        border-radius: 7px;
        margin: 0 auto;
        display: block;
        font-size: 1rem;
        font-family: 'josefin_sanssemibold';
      }
      .changePassword input[type='submit']:hover{
        opacity: 0.8;
      }

 /* ******************************************************
 ********************* 500 PX ****************************
 ********************************************************/

@media screen and (min-width:500px){

  .actionList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .actionList li{
      margin: 0.5rem auto;
      width: 60%;
    }
      .actionList button{
        width: 100%;
      }
  // Bouton choix semestre en ligne
  .semesterBtns button {
    display: inline-block;
    margin: 0.2rem 0.5rem;
  }
  .stopContent{
    padding: 0;
  }

  .ueSelectBloc {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1.5rem 1rem 0 0;
  }
  .ueListContainer strong{
    display: inline-block;
  }
}



 /* ******************************************************
 ******************** 600 PX *****************************
 ********************************************************/


 @media screen and (min-width: 600px){
  /* CONNECTION FORM */
  .connexion{
    max-height: 95%;
    overflow-y: auto;
    background-color: #cfe2e8;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 60%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.9rem;
    // box-shadow: 0px 0px 72px -7px rgba(0, 0, 0, 0.43);
    min-width: 330px;
    max-width: 400px;
  }
    .logoJaya{
      margin: 1.5rem auto;
      height: 10.1rem;
    }
      .Logos{
        padding: 0;
      }
        .jayaForm{
          padding: 0;
        }
          .jayaForm input{
            height: 2.6rem;
            font-size: 1rem;
          }
            .jayaForm input[type="submit"]{
              font-size: 1.2rem;
              padding: 0.6rem 1.2rem;
              cursor: pointer;
              color: white !important;
            }
              .signInLinks a{
                font-size: 0.9rem;
              }
              .field .dropdown button{
                height: 2.6rem;
                font-size: 1rem;
              }

}


 /* ******************************************************
 ********************* 700 PX ****************************
 ********************************************************/

@media screen and (min-width:700px){
   // On affiche/cache les bons logos
   .studentHomeLogo{
    display: none;
  }
  .desktopSidebarLogo{
    display: block;
  }
  // SideBar
  div.sideBar {
    width:30%;
    height: 100%;
    left: 0;
    background-color: #00a99d;
  }
     div.adminColors div.sideBar{
      background-color: #28498F;
    }
    div.sideBar > *:not(.burgerBtn){
      opacity : 1;
    }
      .burgerBtn{
        display: none;
      }

  // Semester List
  .semesterList ul{
    padding-left: 2.8rem;
  }
    .semesterList li{
      margin: 0 3rem 0.5rem 0;
    }

  // Semester Buttons
  .semesterBtns{
    padding: 2rem 0 0.7rem 1.1rem;
  }

  // Home student Page
  div.homeContainer{
    position: static;
    margin-left: 30%;
    width: 70%;
    position: static;
    top: 0;
    height: 100%;
    min-height: 100vh;
  }

  .column.is-one-third, .column.is-one-third-tablet {
      flex: auto !important;
      width: auto !important;
  }

}


 /* ******************************************************
 ******************** 1000 PX ****************************
 ********************************************************/

@media screen and (min-width:1000px){

  .actionList{
    margin-left: 2.3rem;
    justify-content: flex-start;
  }
    .actionList li {
      margin: 0.5rem;
      width: 19rem;
      height: 18rem;
    }
      .actionList button{
        height: 100%;
      }
        .actionList span{
          font-size: 1.2rem;
        }
  // SideBar
  div.sideBar {
    width: 20%;
  }
  // Home student
  div.homeContainer{
    margin-left: 20%;
    width: 80%;
    padding: 0;
    background-color: #EAEEF1;
  }

  // User Infos
  section.userInfos{
    display: block;
    background-color:white;
    padding: 0 0 4.9rem 0;
  }
    section.userInfos h1{
      color: #5457a9;
      text-transform: uppercase;
      font-weight: bold;
      padding: 3.5rem 3.1rem 1.2rem;
      font-size: 1.9rem;
    }
      .listIdentity{
        border-bottom: 2px solid #484646;
        margin: 0rem 6.2rem 0rem 3.1rem;
      }
        .listIdentity li{
          display: inline-block;
          margin-right: 2.2rem;
          padding: 0rem 1.1rem;
        }

  // SEMESTER BUTTONS
  .semesterBtns{
    background-color: white;
    padding-top: 0;
    text-align: left;
  }

   // SEMESTER LIST
  .semesterList ul {
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
    .semesterList li{
      width: 310px;
      display: block;
      border: 0.5px solid #c1c0c0;
      background-color: white;
      margin-bottom: 2rem;
      border-radius: 2px;
      flex: 1 auto;
    }

    div.ueListContainer{
      padding: 2.5rem 0 0 3.1rem;
    }
    .ueSelectBloc{
      display: inline-block;
      width: 20rem;
      max-width: 340px;
      margin: 2rem 2rem 0 0;
    }
      .ueSelectBloc h3{
        background-color: #eaeef1;
        font-size: 1.2rem;
        padding-top: 0.7rem;

      }
        .ueSelectBloc li{
          background-color: #eaeef1;
          font-size: 1.2rem;
        }

  .changePassword {
      background-color: white;
      border-radius: 10px;
      margin: 5.5rem auto 0;
      padding: 2rem 2.5rem;
      max-width: 420px;
  }
    .changePassword h3 {
      font-size: 1.4rem;
    }
      .changePassword input[type='password'] {
        font-size: 1.2rem;
      }
        .changePassword input[type='submit'] {
          font-size: 1.3rem;
        }
}

// Student groups
.studentDrag {
  .studentDrag_container {
    margin: 1rem 0;

    h4 {
      margin-bottom: 1rem;
      user-select: none;
    }

    .studentDrag_list {
      max-height: 300px;
      overflow-y: scroll;
      height: 100%;
      li {
        background-color: #DEDEDE;
        padding: 0.5rem 0.4rem;
        margin: 0.3rem 0;
        border-radius: 5px;
        user-select: none;
        cursor: move;
      }
    }
  }
}


 /* ******************************************************
 ******************** 1400 PX ****************************
 ********************************************************/

 @media screen and (min-width:1400px){

  div.sideBar > *:not(.burgerBtn) {
    font-size: 1.3rem;
  }
  .dropdownAccount > button > span{
    font-size: 1.4rem;
    padding-bottom: 1.9rem;
  }
  .dropdownAccount > button > svg {
    height: 2rem;
    vertical-align: top;
  }
  .semesterList h2 {
    padding: 0.7rem 0.5rem 0.4rem;
  }
  .semesterList li button{
    padding: 0.3rem 0;
  }
  .semesterList li p{
    font-size: 1rem;
    padding: 0.8rem 0;
  }

 }


div.sideBar > a:nth-of-type(1){
   margin-top: 9rem;
 }

 .title.is-4.titleConnexion{
  color: #565656 !important
 }
 .title.is-4 {
  font-size: 1.5rem;

  color: #757474;
  text-decoration: underline;
}

.button.is-primary:not(:last-of-type){
  margin-right: 0.5rem;
}
.button.is-primary:not(:first-of-type) {
  margin-left: 0.5rem;
}


.field .dropdown button{
  height: 2.4rem;
}

.title.is-3 {
  margin-top: 3rem;
}

input, textarea, select, .field .dropdown{
  max-width: 90% !important;
  border: 1px solid lightgray !important;
  color: #535050 !important;
  border-radius: 0 !important;
  font-family: "josefin_sansregular" !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #535050 !important;
  opacity: 1; /* Firefox */
}
 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #535050 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #535050 !important;
}
.field .dropdown button{
  color: #535050 !important;
}

.competenceDropdown div.dropdown{
  width: 22rem !important;
}

form.jayaForm input{
  max-width: 100% !important;
}
  
div.buttonMultiSpecialization div:not(.dropdown-trigger) > button{ 
  display: inline-block;
  margin-top: 1.7rem;
}
div.buttonMultiSpecialization div.checkboxOption{
  display: inline-block;
  margin-top: 2.2rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
div.buttonMultiSpecialization div.checkboxOption input{
  margin-right: 0.4rem;
}



@media screen and (min-width:600px){
  input, textarea, select, .field .dropdown{
    max-width: 80% !important;
    border: 1px solid lightgray !important;
    color: #535050 !important;
    border-radius: 0 !important;
    font-family: "josefin_sansregular" !important;
  }
  .homeContainer > div:nth-of-type(2){
    padding-left: 10% !important;
  }
}
@media screen and (max-width: 1200px){

  .table thead td:last-of-type, .table thead th:last-of-type {
    min-width: 27.8rem !important;
  }
}
@media screen and (min-width: 1400px){
  input, textarea, select, .field .dropdown{
    max-width: 70% !important;
  }
}
  @media screen and (min-width: 1700px){
    input, textarea, select, .field .dropdown{
      max-width: 75% !important;
    }
}

button.buttonEtudiantHome,
button.buttonProfHome,
button.buttonAdminHome {
  width: 23rem;
  margin: 0 auto;
  background: white;
  position: relative;
  height: 14.9rem;
  border: none;
  cursor: pointer;
  }
  button.buttonEtudiantHome:hover,
  button.buttonProfHome:hover,
  button.buttonAdminHome:hover {
    background-color: #e9f0ff;
    }
    button.buttonEtudiantHome:hover::before,
    button.buttonProfHome:hover::before,
    button.buttonAdminHome:hover::before {
      border-bottom-color: #e9f0ff;
      }
      button.buttonEtudiantHome:hover::after,
      button.buttonProfHome:hover::after,
      button.buttonAdminHome:hover::after {
        border-top-color: #e9f0ff;
        }
  button.buttonEtudiantHome span{
    font-size: 2.4rem;
    display: block;
    margin: 1rem 0;
    font-family: 'josefin_sansregular';
    color: #b76d45;
    font-weight: bold;
  }
  button.buttonProfHome span{
    font-size: 2.4rem;
    display: block;
    margin: 1rem 0;
    font-family: 'josefin_sansregular';
    color: #22468e;
    font-weight: bold;
  }
  button.buttonAdminHome span{
    font-size: 2.4rem;
    display: block;
    margin: 1rem 0;
    font-family: 'josefin_sansregular';
    color: #609d9c;
    font-weight: bold;
  }
  button.buttonEtudiantHome:before,
  button.buttonProfHome:before,
  button.buttonAdminHome:before {
  content: "";
    position: absolute;
    top: -6.5rem;
    left: 0;
    width: 0;
    border: none;
    height: 0;
    border-left: 11.1rem solid transparent;
    border-right: 11.9rem solid transparent;
    border-bottom: 6.5rem solid white;
  }


  button.buttonEtudiantHome:after,
  button.buttonProfHome:after,
  button.buttonAdminHome:after {
    content: "";
    position: absolute;
    bottom: -6.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-left: 11.1rem solid transparent;
    border-right: 12rem solid transparent;
    border-top: 6.5rem solid white;
  }

button.buttonEtudiantHome img,
button.buttonProfHome img,
button.buttonAdminHome img{
  height: 10rem;
  display: block;
  margin: 0 auto;
}

  .checkbox, .radio {
    display: block !important;
  }
  .checkbox input, .radio input {
    margin-right: 0.2rem !important;
  }

  table{
    overflow: auto;
    max-width: 98%;
    display: inline-block;
  }
  table > thead > tr > th:not(.specialiteCol):nth-child(6){
    min-width: 271.5px !important;
  }
  table > thead > tr > th:not(.valideActionCol):nth-child(7){
    min-width: 470px !important;
  }
  table > thead > tr > th.valideActionCol:nth-child(7){
    min-width: 280px !important;
  }

  table.actionsResultTableAlgo td
  table.actionsResultTableAlgo th{
    margin-right: 35.8rem !important;
  }


  .selectAlgorithme{
    display: block !important;
  }
  .selectAlgorithme{
    display: inline-block !important;
    width: 11rem !important;
  }
  .parentSelectAlgo::after{
    margin-right: 2.3rem !important;
  }
.container.homePage{
    width: 100%;
    height: 100%;
    display: block;
    background-color: #22468e;
    max-width: 100%;
    max-height: 100%;
}
.container.homePage .Logos{
  margin-bottom: 3.5rem;
}
.container.homePage .Logos img{
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}

@media screen and (max-width: 1200px){
  .columns.is-multiline.has-text-centered{
    display: block;

  }
  .columns.is-multiline.has-text-centered .column.is-one-third.has-text-centered{
    margin-bottom: 13rem;
  }
  .container.homePage {
      width: 100%;
      height: auto;
      display: block;
      background-color: #22468e;
      max-width: 100%;
      padding-bottom: 1rem;
      max-height: none;
  }
}

.disabledAccount_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .disabledAccount_message {
    margin: 1rem 0;
  }
}